## Testing project xcresulttool-example with scheme xcresulttool-example

### Summary
<table>
<tr>
<th>Total<th><img src="https://xcresulttool-static.netlify.app/images/passed.png" alt="Success" title="Success" width="14px" align="top">&nbsp;Passed<th><img src="https://xcresulttool-static.netlify.app/images/failure.png" alt="Failure" title="Failure" width="14px" align="top">&nbsp;Failed<th><img src="https://xcresulttool-static.netlify.app/images/skipped.png" alt="Skipped" title="Skipped" width="14px" align="top">&nbsp;Skipped<th><img src="https://xcresulttool-static.netlify.app/images/expected-failure.png" alt="Expected Failure" title="Expected Failure" width="14px" align="top">&nbsp;Expected Failure<th>:stopwatch:&nbsp;Time
<tr>
<td align="right" width="118px">2<td align="right" width="118px">0<td align="right" width="118px"><b>2</b><td align="right" width="118px">0<td align="right" width="158px">0<td align="right" width="138px">0.00s
</table>

---

### Test Summary
#### <a name="xcresulttool-exampletests_summary"/>[xcresulttool-exampleTests](#user-content-xcresulttool-exampletests)

- **Device:** iPhone 13 mini, 15.0 (19A339)
- **SDK:** Simulator - iOS 15.0, 15.0
<table>
<tr>
<th>Test<th>Total<th><img src="https://xcresulttool-static.netlify.app/images/passed.png" alt="Success" title="Success" width="14px" align="top"><th><img src="https://xcresulttool-static.netlify.app/images/failure.png" alt="Failure" title="Failure" width="14px" align="top"><th><img src="https://xcresulttool-static.netlify.app/images/skipped.png" alt="Skipped" title="Skipped" width="14px" align="top"><th><img src="https://xcresulttool-static.netlify.app/images/expected-failure.png" alt="Expected Failure" title="Expected Failure" width="14px" align="top">
<tr>
<td align="left" width="368px"><a name="xcresulttool-exampletests_system-failures_summary"/><a href="#user-content-xcresulttool-exampletests_system-failures"><img src="https://xcresulttool-static.netlify.app/images/test-class.png" alt="test-class" width="14px" align="top">&nbsp;System Failures</a><td align="right" width="80px">1<td align="right" width="80px">0<td align="right" width="80px"><b>1</b><td align="right" width="80px">0<td align="right" width="80px">0

</table>

#### <a name="xcresulttool-exampleuitests_summary"/>[xcresulttool-exampleUITests](#user-content-xcresulttool-exampleuitests)

- **Device:** iPhone 13 mini, 15.0 (19A339)
- **SDK:** Simulator - iOS 15.0, 15.0
<table>
<tr>
<th>Test<th>Total<th><img src="https://xcresulttool-static.netlify.app/images/passed.png" alt="Success" title="Success" width="14px" align="top"><th><img src="https://xcresulttool-static.netlify.app/images/failure.png" alt="Failure" title="Failure" width="14px" align="top"><th><img src="https://xcresulttool-static.netlify.app/images/skipped.png" alt="Skipped" title="Skipped" width="14px" align="top"><th><img src="https://xcresulttool-static.netlify.app/images/expected-failure.png" alt="Expected Failure" title="Expected Failure" width="14px" align="top">
<tr>
<td align="left" width="368px"><a name="xcresulttool-exampleuitests_system-failures_summary"/><a href="#user-content-xcresulttool-exampleuitests_system-failures"><img src="https://xcresulttool-static.netlify.app/images/test-class.png" alt="test-class" width="14px" align="top">&nbsp;System Failures</a><td align="right" width="80px">1<td align="right" width="80px">0<td align="right" width="80px"><b>1</b><td align="right" width="80px">0<td align="right" width="80px">0

</table>

---

### <img src="https://xcresulttool-static.netlify.app/images/failure.png" alt="Failure" title="Failure" width="14px" align="top"> Failures
<h4><a name="xcresulttool-exampletests_xcresulttool-example-encountered-an-error_failure-summary"/><a href="#user-content-xcresulttool-exampletests_xcresulttool-example-encountered-an-error">xcresulttool-exampleTests/xcresulttool-example encountered an error</a></h4>
<table><tr><td align="right" width="100px"><b>File</b><td width="668px"><tr><td align="right" width="100px"><b>Issue Type</b><td width="668px">System<tr><td align="right" width="100px"><b>Message</b><td width="668px">Failed to establish communication with the test runner. If you believe this error represents a bug, please attach the result bundle at /Users/runner/work/xcresult. (Underlying Error: The operation couldn’t be completed. (DTXProxyChannel error 1.))</table>

<h4><a name="xcresulttool-exampleuitests_xcresulttool-exampleuitests-runner-encountered-an-error_failure-summary"/><a href="#user-content-xcresulttool-exampleuitests_xcresulttool-exampleuitests-runner-encountered-an-error">xcresulttool-exampleUITests/xcresulttool-exampleUITests-Runner encountered an error</a></h4>
<table><tr><td align="right" width="100px"><b>File</b><td width="668px"><tr><td align="right" width="100px"><b>Issue Type</b><td width="668px">System<tr><td align="right" width="100px"><b>Message</b><td width="668px">Failed to install or launch the test runner. If you believe this error represents a bug, please attach the result bundle at /Users/runner/work/xcresult. (Underlying Error: Invalid device state. (Underlying Error: The operation couldn’t be completed. (Mach error -308 - (ipc/mig) server died)))</table>


### Test Details

#### <a name="xcresulttool-exampletests"/>xcresulttool-exampleTests[<img src="https://xcresulttool-static.netlify.app/images/back.png" alt="back" width="14px" align="top">](#user-content-xcresulttool-exampletests_summary)

<a name="xcresulttool-exampletests_system-failures"/><h5>System Failures&nbsp;[<img src="https://xcresulttool-static.netlify.app/images/back.png" alt="back" width="14px" align="top">](#user-content-xcresulttool-exampletests_system-failures_summary)</h5>
<table>
<tr>
<th><img src="https://xcresulttool-static.netlify.app/images/passed.png" alt="Success" title="Success" width="14px" align="top"><th><img src="https://xcresulttool-static.netlify.app/images/failure.png" alt="Failure" title="Failure" width="14px" align="top"><th><img src="https://xcresulttool-static.netlify.app/images/skipped.png" alt="Skipped" title="Skipped" width="14px" align="top"><th><img src="https://xcresulttool-static.netlify.app/images/expected-failure.png" alt="Expected Failure" title="Expected Failure" width="14px" align="top"><th>:stopwatch:
<tr>
<td align="right" width="154px">0 (0%)<td align="right" width="154px"><b>1 (100%)</b><td align="right" width="154px">0 (0%)<td align="right" width="154px">0 (0%)<td align="right" width="154px">0.00s
</table>

<table>
<tr><td align="center" valign="top" width="52px"><img src="https://xcresulttool-static.netlify.app/images/failure.png" alt="Failure" title="Failure" width="14px" align="top"><td valign="top" width="716px"><a name="xcresulttool-exampletests_xcresulttool-example-encountered-an-error"/><img src="https://xcresulttool-static.netlify.app/images/test-method.png" alt="test-method" width="14px" align="top">&nbsp;<code>xcresulttool-example encountered an error</code><a href="#user-content-xcresulttool-exampletests_xcresulttool-example-encountered-an-error_failure-summary"><img src="https://xcresulttool-static.netlify.app/images/back.png" alt="back" width="14px" align="top"></a><br><br><b>Activities:</b>

- Failed to establish communication with the test runner. If you believe this error represents a bug, please attach the result bundle at /Users/runner/work/xcresult. (Underlying Error: The operation couldn’t be completed. (DTXProxyChannel error 1.))
</table>

#### <a name="xcresulttool-exampleuitests"/>xcresulttool-exampleUITests[<img src="https://xcresulttool-static.netlify.app/images/back.png" alt="back" width="14px" align="top">](#user-content-xcresulttool-exampleuitests_summary)

<a name="xcresulttool-exampleuitests_system-failures"/><h5>System Failures&nbsp;[<img src="https://xcresulttool-static.netlify.app/images/back.png" alt="back" width="14px" align="top">](#user-content-xcresulttool-exampleuitests_system-failures_summary)</h5>
<table>
<tr>
<th><img src="https://xcresulttool-static.netlify.app/images/passed.png" alt="Success" title="Success" width="14px" align="top"><th><img src="https://xcresulttool-static.netlify.app/images/failure.png" alt="Failure" title="Failure" width="14px" align="top"><th><img src="https://xcresulttool-static.netlify.app/images/skipped.png" alt="Skipped" title="Skipped" width="14px" align="top"><th><img src="https://xcresulttool-static.netlify.app/images/expected-failure.png" alt="Expected Failure" title="Expected Failure" width="14px" align="top"><th>:stopwatch:
<tr>
<td align="right" width="154px">0 (0%)<td align="right" width="154px"><b>1 (100%)</b><td align="right" width="154px">0 (0%)<td align="right" width="154px">0 (0%)<td align="right" width="154px">0.00s
</table>

<table>
<tr><td align="center" valign="top" width="52px"><img src="https://xcresulttool-static.netlify.app/images/failure.png" alt="Failure" title="Failure" width="14px" align="top"><td valign="top" width="716px"><a name="xcresulttool-exampleuitests_xcresulttool-exampleuitests-runner-encountered-an-error"/><img src="https://xcresulttool-static.netlify.app/images/test-method.png" alt="test-method" width="14px" align="top">&nbsp;<code>xcresulttool-exampleUITests-Runner encountered an error</code><a href="#user-content-xcresulttool-exampleuitests_xcresulttool-exampleuitests-runner-encountered-an-error_failure-summary"><img src="https://xcresulttool-static.netlify.app/images/back.png" alt="back" width="14px" align="top"></a><br><br><b>Activities:</b>

- Failed to install or launch the test runner. If you believe this error represents a bug, please attach the result bundle at /Users/runner/work/xcresult. (Underlying Error: Invalid device state. (Underlying Error: The operation couldn’t be completed. (Mach error -308 - (ipc/mig) server died)))
</table>
