## Testing project xcresulttool-example with scheme xcresulttool-example

### Summary
<table>
<thead><tr>
<th>Total</th><th><img src="https://xcresulttool-resources.netlify.app/images/passed.png" alt="Success" title="Success" width="14px" align="top">&nbsp;Passed</th><th><img src="https://xcresulttool-resources.netlify.app/images/failure.png" alt="Failure" title="Failure" width="14px" align="top">&nbsp;Failed</th><th><img src="https://xcresulttool-resources.netlify.app/images/skipped.png" alt="Skipped" title="Skipped" width="14px" align="top">&nbsp;Skipped</th><th><img src="https://xcresulttool-resources.netlify.app/images/expected-failure.png" alt="Expected Failure" title="Expected Failure" width="14px" align="top">&nbsp;Expected Failure</th><th>:stopwatch:&nbsp;Time</th>
</tr></thead>
<tbody><tr>
<td align="right" width="118px">2</td><td align="right" width="118px">0</td><td align="right" width="118px"><b>2</b></td><td align="right" width="118px">0</td><td align="right" width="158px">0</td><td align="right" width="138px">0.00s</td>
</tr></tbody>
</table>

---

### Test Summary
#### <a name="xcresulttool-exampletests_summary"></a>[xcresulttool-exampleTests](#user-content-xcresulttool-exampletests)

- **Device:** iPhone 13 mini, 15.0 (19A339)
- **SDK:** Simulator - iOS 15.0, 15.0
<table>
<thead><tr>
<th>Test</th><th>Total</th><th><img src="https://xcresulttool-resources.netlify.app/images/passed.png" alt="Success" title="Success" width="14px" align="top"></th><th><img src="https://xcresulttool-resources.netlify.app/images/failure.png" alt="Failure" title="Failure" width="14px" align="top"></th><th><img src="https://xcresulttool-resources.netlify.app/images/skipped.png" alt="Skipped" title="Skipped" width="14px" align="top"></th><th><img src="https://xcresulttool-resources.netlify.app/images/expected-failure.png" alt="Expected Failure" title="Expected Failure" width="14px" align="top"></th>
</tr></thead>
<tbody>
<tr>
<td align="left" width="368px"><a name="xcresulttool-exampletests_system-failures_summary"></a><a href="#user-content-xcresulttool-exampletests_system-failures"><img src="https://xcresulttool-resources.netlify.app/images/test-class.png" width="14px" align="top">&nbsp;System Failures</a></td><td align="right" width="80px">1</td><td align="right" width="80px">0</td><td align="right" width="80px"><b>1</b></td><td align="right" width="80px">0</td><td align="right" width="80px">0</td>
</tr>
</tbody>
</table>

#### <a name="xcresulttool-exampleuitests_summary"></a>[xcresulttool-exampleUITests](#user-content-xcresulttool-exampleuitests)

- **Device:** iPhone 13 mini, 15.0 (19A339)
- **SDK:** Simulator - iOS 15.0, 15.0
<table>
<thead><tr>
<th>Test</th><th>Total</th><th><img src="https://xcresulttool-resources.netlify.app/images/passed.png" alt="Success" title="Success" width="14px" align="top"></th><th><img src="https://xcresulttool-resources.netlify.app/images/failure.png" alt="Failure" title="Failure" width="14px" align="top"></th><th><img src="https://xcresulttool-resources.netlify.app/images/skipped.png" alt="Skipped" title="Skipped" width="14px" align="top"></th><th><img src="https://xcresulttool-resources.netlify.app/images/expected-failure.png" alt="Expected Failure" title="Expected Failure" width="14px" align="top"></th>
</tr></thead>
<tbody>
<tr>
<td align="left" width="368px"><a name="xcresulttool-exampleuitests_system-failures_summary"></a><a href="#user-content-xcresulttool-exampleuitests_system-failures"><img src="https://xcresulttool-resources.netlify.app/images/test-class.png" width="14px" align="top">&nbsp;System Failures</a></td><td align="right" width="80px">1</td><td align="right" width="80px">0</td><td align="right" width="80px"><b>1</b></td><td align="right" width="80px">0</td><td align="right" width="80px">0</td>
</tr>
</tbody>
</table>


---

### <img src="https://xcresulttool-resources.netlify.app/images/failure.png" alt="Failure" title="Failure" width="14px" align="top"> Failures
<h4><a name="xcresulttool-exampletests_xcresulttool-example-encountered-an-error_failure-summary"></a><a href="#user-content-xcresulttool-exampletests_xcresulttool-example-encountered-an-error">xcresulttool-exampleTests/xcresulttool-example encountered an error</a></h4>
<table><tr><td align="right" width="100px"><b>File</b></td><td width="668px"></td></tr><tr><td align="right" width="100px"><b>Issue Type</b></td><td width="668px">System</td></tr><tr><td align="right" width="100px"><b>Message</b></td><td width="668px">Failed to establish communication with the test runner. If you believe this error represents a bug, please attach the result bundle at /Users/runner/work/xcresult. (Underlying Error: The operation couldn’t be completed. (DTXProxyChannel error 1.))</td></tr></table>

<h4><a name="xcresulttool-exampleuitests_xcresulttool-exampleuitests-runner-encountered-an-error_failure-summary"></a><a href="#user-content-xcresulttool-exampleuitests_xcresulttool-exampleuitests-runner-encountered-an-error">xcresulttool-exampleUITests/xcresulttool-exampleUITests-Runner encountered an error</a></h4>
<table><tr><td align="right" width="100px"><b>File</b></td><td width="668px"></td></tr><tr><td align="right" width="100px"><b>Issue Type</b></td><td width="668px">System</td></tr><tr><td align="right" width="100px"><b>Message</b></td><td width="668px">Failed to install or launch the test runner. If you believe this error represents a bug, please attach the result bundle at /Users/runner/work/xcresult. (Underlying Error: Invalid device state. (Underlying Error: The operation couldn’t be completed. (Mach error -308 - (ipc/mig) server died)))</td></tr></table>


### Test Details

#### <a name="xcresulttool-exampletests"></a>xcresulttool-exampleTests[<img src="https://xcresulttool-resources.netlify.app/images/right-arrow-curving-left.png" width="14px" align="top">](#user-content-xcresulttool-exampletests_summary)

<a name="xcresulttool-exampletests_system-failures"></a><h5>System Failures&nbsp;[<img src="https://xcresulttool-resources.netlify.app/images/right-arrow-curving-left.png" width="14px" align="top">](#user-content-xcresulttool-exampletests_system-failures_summary)</h5>
<table>
<thead><tr>
<th><img src="https://xcresulttool-resources.netlify.app/images/passed.png" alt="Success" title="Success" width="14px" align="top"></th><th><img src="https://xcresulttool-resources.netlify.app/images/failure.png" alt="Failure" title="Failure" width="14px" align="top"></th><th><img src="https://xcresulttool-resources.netlify.app/images/skipped.png" alt="Skipped" title="Skipped" width="14px" align="top"></th><th><img src="https://xcresulttool-resources.netlify.app/images/expected-failure.png" alt="Expected Failure" title="Expected Failure" width="14px" align="top"></th><th>:stopwatch:</th>
</tr></thead>
<tbody>
<tr>
<td align="right" width="154px">0 (0%)</td><td align="right" width="154px"><b>1 (100%)</b></td><td align="right" width="154px">0 (0%)</td><td align="right" width="154px">0 (0%)</td><td align="right" width="154px">0.00s</td>
</tr>
</tbody>
</table>

<table>
<tr><td align="center" valign="top" width="52px"><img src="https://xcresulttool-resources.netlify.app/images/failure.png" alt="Failure" title="Failure" width="14px" align="top"></td><td valign="top" width="716px"><a name="xcresulttool-exampletests_xcresulttool-example-encountered-an-error"></a><img src="https://xcresulttool-resources.netlify.app/images/test-method.png" width="14px" align="top">&nbsp;<code>xcresulttool-example encountered an error</code><a href="#user-content-xcresulttool-exampletests_xcresulttool-example-encountered-an-error_failure-summary"><img src="https://xcresulttool-resources.netlify.app/images/right-arrow-curving-left.png" width="14px" align="top"></a><br><br><b>Activities:</b>

- Failed to establish communication with the test runner. If you believe this error represents a bug, please attach the result bundle at /Users/runner/work/xcresult. (Underlying Error: The operation couldn’t be completed. (DTXProxyChannel error 1.))</td></tr>
</table>

#### <a name="xcresulttool-exampleuitests"></a>xcresulttool-exampleUITests[<img src="https://xcresulttool-resources.netlify.app/images/right-arrow-curving-left.png" width="14px" align="top">](#user-content-xcresulttool-exampleuitests_summary)

<a name="xcresulttool-exampleuitests_system-failures"></a><h5>System Failures&nbsp;[<img src="https://xcresulttool-resources.netlify.app/images/right-arrow-curving-left.png" width="14px" align="top">](#user-content-xcresulttool-exampleuitests_system-failures_summary)</h5>
<table>
<thead><tr>
<th><img src="https://xcresulttool-resources.netlify.app/images/passed.png" alt="Success" title="Success" width="14px" align="top"></th><th><img src="https://xcresulttool-resources.netlify.app/images/failure.png" alt="Failure" title="Failure" width="14px" align="top"></th><th><img src="https://xcresulttool-resources.netlify.app/images/skipped.png" alt="Skipped" title="Skipped" width="14px" align="top"></th><th><img src="https://xcresulttool-resources.netlify.app/images/expected-failure.png" alt="Expected Failure" title="Expected Failure" width="14px" align="top"></th><th>:stopwatch:</th>
</tr></thead>
<tbody>
<tr>
<td align="right" width="154px">0 (0%)</td><td align="right" width="154px"><b>1 (100%)</b></td><td align="right" width="154px">0 (0%)</td><td align="right" width="154px">0 (0%)</td><td align="right" width="154px">0.00s</td>
</tr>
</tbody>
</table>

<table>
<tr><td align="center" valign="top" width="52px"><img src="https://xcresulttool-resources.netlify.app/images/failure.png" alt="Failure" title="Failure" width="14px" align="top"></td><td valign="top" width="716px"><a name="xcresulttool-exampleuitests_xcresulttool-exampleuitests-runner-encountered-an-error"></a><img src="https://xcresulttool-resources.netlify.app/images/test-method.png" width="14px" align="top">&nbsp;<code>xcresulttool-exampleUITests-Runner encountered an error</code><a href="#user-content-xcresulttool-exampleuitests_xcresulttool-exampleuitests-runner-encountered-an-error_failure-summary"><img src="https://xcresulttool-resources.netlify.app/images/right-arrow-curving-left.png" width="14px" align="top"></a><br><br><b>Activities:</b>

- Failed to install or launch the test runner. If you believe this error represents a bug, please attach the result bundle at /Users/runner/work/xcresult. (Underlying Error: Invalid device state. (Underlying Error: The operation couldn’t be completed. (Mach error -308 - (ipc/mig) server died)))</td></tr>
</table>
